version: '3'

# Todos:
# Use sockets for redis and fpm
# Network icc

# Client push
# Traefik

services:
  db:
    image: mariadb:10.5
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    restart: always
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - db:/var/lib/mysql
    secrets:
      - mysql_root_passwd
      - mysql_nc_db
      - mysql_nc_user
      - mysql_nc_user_passwd
    environment:
      - MYSQL_ROOT_PASSWORD_FILE=/run/secrets/mysql_root_passwd
      - MYSQL_DATABASE_FILE=/run/secrets/mysql_nc_db
      - MYSQL_USER_FILE=/run/secrets/mysql_nc_user
      - MYSQL_PASSWORD_FILE=/run/secrets/mysql_nc_user_passwd
    networks:
      - nc-tier

  redis:
    image: redis:5.0.14-alpine
    restart: always
    volumes:
      - /etc/localtime:/etc/localtime:ro
    secrets:
      - redis_passwd
    command: ash -c "redis-server --requirepass $$( cat /run/secrets/redis_passwd)"
    networks:
      - nc-tier

  app:
    build: ./nextcloud
    restart: always
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - nextcloud-web:/var/www/html
      - nextcloud-data:/home/www-data/
      - nextcloud-apps:/var/www/html/custom_apps
    secrets:
      - mysql_nc_db
      - mysql_nc_user
      - mysql_nc_user_passwd
      - nc_root_user
      - nc_root_passwd
      - redis_passwd
    environment:
      # Database
      - MYSQL_PASSWORD_FILE=/run/secrets/mysql_nc_user_passwd
      - MYSQL_DATABASE_FILE=/run/secrets/mysql_nc_db
      - MYSQL_USER_FILE=/run/secrets/mysql_nc_user
      - MYSQL_HOST=db:3306
      # Admin user
      - NEXTCLOUD_ADMIN_USER_FILE=/run/secrets/nc_root_user
      - NEXTCLOUD_ADMIN_PASSWORD_FILE=/run/secrets/nc_root_passwd
      # Nextcloud data directory
      - NEXTCLOUD_DATA_DIR=/home/www-data/
      # Redis
      - REDIS_HOST=redis
      - REDIS_HOST_PASSWORD_FILE=/run/secrets/redis_passwd
      # PHP values
      - PHP_MEMORY_LIMIT=512M
      - PHP_UPLOAD_LIMIT=10G
      - PM_MAX_CHILDREN=100
      - PM_MAX_REQUESTS=0
      # Reverse proxy
      - TRUSTED_PROXIES=172.23.0.4/16
      - OVERWRITEPROTOCOL=http
      - OVERWRITEHOST=cloud.$DOMAIN
    depends_on:
      - db
      - redis
    networks:
      - nc-tier
      - proxy-tier

  cron:
    build: ./nextcloud
    restart: always
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - nextcloud-web:/var/www/html
      - nextcloud-apps:/var/www/html/custom_apps
      - nextcloud-data:/home/www-data/
    entrypoint: /cron.sh
    environment:
      - NEXTCLOUD_DATA_DIR=/home/www-data/
    depends_on:
      - db
      - redis
    networks:
      - nc-tier
  
  web:
    image: nginx:1.21-alpine
    restart: always
    #ports:
    #  - 127.0.0.1:80:80
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - nextcloud-web:/var/www/html:ro
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app
    networks:
      - proxy-tier
    labels:
      # Explicitly tell traefik to expose this container
      - "traefik.enable=true"
      # The domain the service will respond to
      - "traefik.http.routers.web.rule=Host(`cloud.$DOMAIN`)"
      # Allow request only from the predefined entrypoint
      - "traefik.http.routers.web.entrypoints=web"

volumes:
  db:
  nextcloud-web:
  nextcloud-apps:
  nextcloud-data:

# Use external secrets in production
secrets:
  mysql_root_passwd:
    file: ./secrets/mysql_root_passwd.txt
  mysql_nc_db:
    file: ./secrets/mysql_nc_db.txt
  mysql_nc_user:
    file: ./secrets/mysql_nc_user.txt
  mysql_nc_user_passwd:
    file: ./secrets/mysql_nc_user_passwd.txt
  nc_root_user:
    file: ./secrets/nc_root_user.txt
  nc_root_passwd:
    file: ./secrets/nc_root_passwd.txt
  redis_passwd:
    file: ./secrets/redis_passwd.txt

networks:
  proxy-tier:
    name: ${PROXY_NETWORK}
  nc-tier:
    driver: bridge

  